/* CSS styling med grids */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    max-width: 540px;
    display: grid;
    margin: 0 auto 0 auto;
    justify-content: center;
}


.dice-section {
    padding: 20px;
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
 
}

.die-img {
    width: 100px;
}


.die-img.held {
    opacity: 0.6;
    background: #ffeb3b;
    transform: scale(0.95);
}


.roll-button {

}



.yatzy-pad {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.2em;
}

.yatzy-pad > div {
    /*border: 1px solid black;*/
}

.yatzy-pad > div > div {
    /*border: 1px solid black;*/
    display: inline;
}

.max-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 15%;
    cursor: pointer;
    margin: 0 0 0 1em;
}

.score-row {
}

.score-row.selected {

}

.score-row.used {

}

.score-row label {

}

.score-field, .summary-field {

}

.score-field.selectable {

}

.summary-row {

}

.summary-row label {

}

.total-row {

}

/* evt responsive design */
@media (max-width: 600px) {
    .container {

    }

    h1 {

    }

    .dice-container {

    }

    .score-row {

    }
}